@use '../../../../styles/functions' as fct;
@use '../../../../styles/mixins' as mx;

:host {
  display: block;
}

.forgot__info {
  margin: 0;
  text-align: center;
  @include mx.typo(nunito, 400);
  font-size: 20px;
  color: fct.color(text-gray);
}

@media (max-width: 480px) {
  .forgot__info {
    font-size: 16px;
  }
}
